.App {
    max-width: 600px;
    margin: 30px auto;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(245,245,247,1) 21%, rgba(255,255,255,1) 50%, rgba(245,245,247,1) 79%, rgba(255,255,255,1) 100%);
}

.App footer {
    font-size: 11px;
    margin: 0 auto;
}
