
.Weatherinfo h1 {
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;
}

.Weatherinfo ul {
    margin-bottom: 50px;
    padding: 0;
 }

 .Weatherinfo li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    text-align: left;
    list-style: none;
 }

 .Weatherinfo canvas {
    height: 64px;
    width: 64px;
    margin-right: 10px;
    display: inline-block;
    margin-top: -100px;
 }
 .Weatherinfo .clearfix {
    margin-top: 20px;
 }
 
 .Weatherinfo .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 64px;
    font-weight: 400;
}

.Weatherinfo .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -34px;
    margin-left: 5px;
}